.home {
    background-color: var(--primary-background);
    overflow: hidden;
    height: 100%;
}

.home__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    font-size: 3em;
    text-align: center;
    color: var(--primary);
    font-family: 'Gotag';
}

.home__create {
    text-align: center;
    height: 10%;
}

.home__create__action {
    font-size: 1.2em;
    border: none;
    padding: 1.5vh 10vw;
    border-radius: 40px;
    background-color: var(--primary);
    color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.home__uid {
    height: 10vh;
    margin: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.home__helper-text {
    height: 5vh;
    font-size: 1.2em;
    text-align: center;
    color: var(--tertiary);
}

.home__uid__value {
    text-align: center;
    width: 100px;
    font-size: 1.6em;
    padding: 10px 18px;
    border: 1px solid var(--tertiary);
    color: var(--tertiary);
    border-radius: 8px;
}

.home__uid__copy {
    font-size: 1.1em;
    display: flex;
    align-items: center;
    border: none;
    padding: 12px 18px;
    border-radius: 20px;
    background-color: var(--primary);
    color: white;
}

.home__join-room {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
    font-size: 1.5em;
    border: none;
    background: none;
    color: var(--tertiary);
}

.home__join-room:disabled {
    color: var(--tertiary);
    opacity: 0.5;
}

.home__join {
    width: 100%;
    background-color: white;
    position: fixed;
    height: 30%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.home__join__prompt {
    font-size: 2em;
    color: var(--primary);
}

.home__join__input {
    border: 0.5px solid var(--primary);
    padding: 0.8em;
    width: 180px;
    border-radius: 10px;
    display: flex;
}

.home__join__input > input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.2em;
    text-align: center;
    color: var(--secondary);
    overflow: hidden;
}

.home__join__input > input::placeholder {
    color: var(--secondary);
    opacity: 0.8;
}

.home__carousal {
    /* 100 - (15 + 10 + 30) */
    height: 45%;
    position: relative;
    align-items: center;
    overflow: hidden;
    display: flex;
    overflow: hidden;
}

.home__carousal__images {
    height: 100%;
    display: flex;
    gap: 4px;
    position: absolute;
    top: 0px;
}

@media (max-width: 768px) {
    .home__carousal__images {
        transform: rotate(-3deg);
        animation-name: animate-images;
        animation-duration: 60s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
    }
}

.home__carousal__images__item {
    height: 100%;
}

.home__carousal__images__item > img {
    height: 85%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@keyframes animate-images {
    from {
        left: 0px;
        top: 0px;
    }

    to {
        left: -1150px;
        top: 50px;
    }
}

.home__carousal__images__item > img {
    border-radius: 20px;
}

.home__footer {
    width: 100%;
    position: absolute;
    bottom: 3vh;
}

.home__join-room--primary {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
    font-size: 1.5em;
    border: none;
    padding: 1.5vh 8vw;
    border-radius: 20px;
    background: none;
    color: var(--secondary);
    background-color: var(--tertiary);
}